*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFF8F6;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px 20px;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    border: none;
    margin-top: 20px;
}

.input-container input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #9e9898;
    flex-grow: 1;
}

.input-container input::placeholder {
    color: #b3b3b3;
}

.input-container button {
    background: none;
    border: none;
    font-size: 18px;
    color: #9e9898;
    cursor: pointer;
    margin-left: 8px;}

.input-container button:hover {
    color: #575757;
}

@media (max-width: 320px) {
    .input-container {
        padding: 10px; 
    }

    .input-container input {
        font-size: 16px; 
    }

    .input-container button {
        font-size: 16px; 
    }
}