* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff8f6;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px 20px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  border: none;
  margin-top: 20px;
}

.input-container input {
  border: none;
  outline: none;
  font-size: 18px;
  color: #9e9898;
  flex-grow: 1;
}

.input-container input::placeholder {
  color: #b3b3b3;
}

.input-container button {
  background: none;
  border: none;
  font-size: 18px;
  color: #9e9898;
  cursor: pointer;
  margin-left: 8px;
}

.input-container button:hover {
  color: #575757;
}

@media (max-width: 320px) {
  .input-container {
    padding: 10px;
  }

  .input-container input {
    font-size: 16px;
  }

  .input-container button {
    font-size: 16px;
  }
}

.output-container {
  font-size: 25px;
  margin: 20px 5px;
}

form {
  padding: 10px 0px;
}

.custom-checkbox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: black;
}

.custom-checkbox input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 18px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Editable input box styling */
.edit-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 25px;
  color: #333;
  width: 100%;
  cursor: text;
}

.clear-items{
  display: none;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}