*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.alertText {
    color: red; 
    font-size: 11px;
    margin-top: 2px;
}

@media screen and (max-width: 371px) {
    .alertText{
        font-size: 10px;
    }
}